body {
    background-color: #1e1e1e;
}

.Logo {
    font-size: xxx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 25px;
    text-shadow: 1px 1px 5px red;
}

.Link {
    text-decoration: none;
    color: burlywood;
}

.Picture {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 25px;
}

.Button {
    border: none;
    background: inherit;
    filter: drop-shadow(0px 0px 10px red);
}
.Button:hover {
    transform: scale(1.1);
}

.Counter {
    color: White;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 25px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 5px red;
}

.Reset {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.reset-button {
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: burlywood;
    color: white;
    padding: 5px 10px;
}
.reset-button:hover {
    transform: scale(1.1);
    box-shadow: burlywood 0px 0px 10px;
}
